
/*colors: dark blue = #2a4158, brown = #854520, and lighter blue = #008bbf*/

html {
    scroll-behavior: smooth;
}

body {
  background-color: white;
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-family: 'Avenir', 'Arial', sans-serif;
  display: grid;
  min-height: 100vh;
}

body a {
  color: black;
}

/* Responsive navigation bar with dropdown modified from 
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp*/

img {
  display: inline-block;
  width: 2em;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 5px black;
}

.logo {
  display: inline-block;
  background-color: white;
  padding: 0.3em;
  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  width: 100%;
  box-shadow: none;
}

/* Style the navigation menu */
.topnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2a4158;
  overflow: hidden;
  box-shadow: 0 0 5px black;
  padding: 0.25em;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .topnav {
    flex-direction: column;
  }
}

/* Style navigation menu links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #008bbf;
  color: black;
  border-radius: 2px;
  box-shadow: 0 0 5px black;
}

/* Style the active link */
.topnav a.active {
  background-color: #2a4158;
  color: white;
  text-transform: uppercase;
}

.sidenav a.active {
  background-color: #2a4158;
  text-transform: uppercase;
}

/*Hide the link that should open and close the topnav on small screens */
.topnav a.icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 0 5px black;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
/*MAKE THIS SO IT WORKS ON CLICK, NOT HOVER*/
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the 
topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

h1 {
  font-family: 'Garamond', serif;
  color: #008bbf;
  font-size: 50px;
  line-height: 1;
  padding: 0.15em;
  margin: 0.25em 0 0;
  text-align: center;
}

h2 {
  /*font-family: 'Garamond', serif;*/
  font-family: 'Avenir', 'Arial', sans-serif;
  color: #854520;
  font-size: 35px;
  padding: 0.25em;
  margin: 0.25em 0 0.25em;
  text-align: center;
}

h3 {
  color: #2a4158;
  font-size: 20px;
  padding: 0.25em;
  margin: 0.25em 0 0.25em;
  text-align: center;
}

main p {
  color: black;
  font-size: 24px;
  text-align: justify;
  margin: 0.5em 0.5em 0.5em;
  padding: 0.5em;
}

.row {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-evenly;
  padding: 1em 0 0;
}

/* Make all the cards the same size and add some shadows to create a card effect */
.card {
  flex: 0 0 30%;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.button_container {
  display: none;
}

.button_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

/* Some left and right padding inside the container */
.container {
  padding: 0.5em;
  border-radius: 2px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .row {
    width: 100%;
    display: block;
  }
}

.basic_card {
    height: 2em;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #2a4158;
    border-radius: 2px;
  }

.basic_card a {
  color: white;
  font-size: 35px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-evenly;
}

.sidenav {
  height: 75%;
  width: 10.5em;
  position: fixed;
  top: 2.5em;
  background-color: #854520;
  overflow-x: hidden;
  padding: 1em 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  text-transform: uppercase;
}

.main {
  margin-left: 130px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.video_container {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  padding: 1em;
}

.video_container iframe {
  border: 4px solid #854520;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

hr {
  border-top: solid #854520; 
}

/* Buttons modified from https://www.w3schools.com/howto/howto_css_next_prev.asp and 
https://css-tricks.com/examples/ButtonMaker/# */

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.button a {
  text-decoration: none;
  color:white;
  padding: 5px 10px;
  border: 1px solid #854520;
  border-radius: 2px;
  background-color: #854520;
  margin: 1em 1em 0 1em;
  box-shadow: 0 0 5px black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a4158;
  color: white;
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 0 5px black;
  margin-top: 1em;
}

footer p {
  font-size: 18px;
}

/* The code below is included for accessibility to turn off animations and movement for people who have 
modified their preferences to reduce motion. */

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }
}

/* Questions:
1. why is my footer so tall?
2. why don't my dropdown links work sometimes? they won't stay open so they can be clicked on if I'm on a page other than home
3. how to get my back to top button to stay at the bottom but above the footer
*/

/* To Do Next: 
1. Create template for Study Topics pages and Resources page
  > grid layout? or flexbox? See what did with Homebound Cocktails
  > side menu for Study Topics pages
2. Rename Study Topics page
3. Populate Resources page
4. Format Podcasts page
5. Format about_book page
DONE - Create About tab with dropdown to two pages: authors and book
  > Author page = pic, bio in grid layout
DONE - Create Study Topics tab with drop down to two pages: Greek and Hebrew
  > Greek Study Topics page: links for word studies, grammar, lexicons
  > Each link will pull up page with all videos tagged with Greek and lexicon, eg
  > Make sure that nagivation link for others (word studies, grammars) available on all pages)
DONE - Resources tab
  > Bible hub, stepbible, etc.
  > Same as with study topics - links will take to page with instructional videos, etc.
  > Make sure navigation links to other resources available on all pages
DONE - Add podcast page
DONE - Format <main> container
DONE - Change menu from mobile view to non-mobile view. With this, make dropdown within dropdown menu for the about and study topics page
DONE - Update mobile menu li with new pages
DONE - Update back/previous buttons
DONE - add shadow to back and next buttons?
DONE - Format paragraph in <main>
DONE - Put paragraph in Index <main> in container?
DONE I THINK- Fix problem with Back to Top button on mobile view
DONE - Format footer: format buttons, space buttons, format (c)
DONE - Format footer: make it actually stick to the bottom of the page - check W3 schools
DONE I THINK - Make buttons stick to bottom too 
DONE - Center back to top button? How?
DONE - Check spacing in header - why is there so much space right now? I think this will change when I alter the menu
DONE - Need back to top button? Keep it in, I think
- */